<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'aleksan_site_project/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'aleksan_site_project/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'aleksan_site_project/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'aleksan_site_project/css/brands.css' %}">
    <link rel="stylesheet" href="{% static 'aleksan_site_project/css/solid.css' %}">
    <link rel="stylesheet" href="{% static 'aleksan_site_project/css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static "images/favicon.ico" %}">
    <script defer src="{% static 'aleksan_site_project/js/all.js' %}"></script> <!--load all styles -->
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(65894257, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/65894257" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->

    <title>
        {% block title %}
            Page!
        {% endblock %}
    </title>
</head>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top vertical-align ">
    <a class="navbar-brand" href="{% url 'homepage:index' %}">
        <img src="{% static 'images/favicon.ico' %}" width="25" height="25" class="d-inline-block align-top"
             alt="hh.ru" loading="lazy"> <span class="align-top"></span>

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse mr-4 navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto vertical-align">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'homepage:developer' %}">Разработчик<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'homepage:sysadmin' %}">Сисадмин<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'homepage:contacts' %}">Контакты<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://hh.ru/resume/46013043ff07baa4d30039ed1f396b43644853"><img
                        src="{% static 'images/min-hh-red.png' %}" alt="Logo" style="width:1.5rem;"></a>

            </li>
            {#            <li class="pull-xs-right"><a href="https://tlgg.ru/@Dev_Aleksan"><span style="font-size: 2em; color: black;"><i class="fab fa-telegram"></i></span></a></li>#}
            {#            <li><span style="font-size: 2em; color: white;"><i class="fab fa-github-square"></i></span></li>#}

        </ul>
    </div>
</nav>

<body style="background-image: url('{% static 'images/bg-w2.png' %}')">

{% block body %}
    <h1>Override me!</h1>
{% endblock %}
<script src="{% static 'aleksan_site_project/js/jquery.slim.min.js' %}"></script>
<script src="{% static 'aleksan_site_project/js/bootstrap.min.js' %}"></script>
</body>
</html>