{% extends 'homepage/base.html' %}
{% block title %}
    Контакты
{% endblock %}

{% block body %}
    <div class="mx-auto my-2 my-sm-3 my-lg-4 p-3 container">
        <h1 class="head">Контакты</h1>
        <ul>
            <li><a href="mailto: free2mmm@gmail.com"><span style="font-size: 2em; color: black;"><i
                    class="fas fa-mail-bulk"></i> - Почта</span></a></li>
            <li><a href="https://api.whatsapp.com/send?phone=79263659499"><span style="font-size: 2em; color: black;"><i
                    class="fab fa-whatsapp-square"></i> - WhatsApp</span></a></li>
            <li><a href="https://github.com/Hazzari"><span style="font-size: 2em; color: black;"><i
                    class="fab fa-github-square"></i> - GitHub</span></a></li>
        </ul>
    </div>
{% endblock %}