{% extends 'homepage/base.html' %}
{% block title %}
    Резюме
{% endblock %}

{% block body %}
    {#    <img src="..." alt="..." class="img-thumbnail">#}
    <div class="mx-auto my-2 my-sm-3 my-lg-4 p-3 container">
        <h1 class="head ">О себе</h1>
        <div class="">Имя: <b>Александр</b><br>
            <span class="">Возраст: {{ age }} лет.</span>
            <p>Работаю в IT более 20 лет.</p></div>
        <p class="text-sm-left " style="max-width: 650px; white-space: pre-line"> Я начинающий Python разработчик.
            В свои 30 лет решил, что хочу знать не только как устанавливать и настраивать программы, но понять, так сказать "внутреннюю кухню".
            В 2015 году стал вникать в программирование, и начал через изучение C и Java, освоил азы, основные конструкции синтаксиса языка.
            Попробовал себя в Swift, но понял, что это не моё.
            Последние 3 года осваиваю Python.

            Сейчас уже достаточно хорошо разбираюсь в языке.
            Стараюсь каждый день пополнить знание чем-то новым, составляю свою базу знаний, а также, по возможности, закрепляю ежедневным написанием кода.

            Могу братья за отдельные задачи самостоятельно.

            Умею искать информацию в интернете, а если не получается найти, знаю, как и где спросить у более опытных коллег, использую для этого телеграмм и slack каналы, ну и конечно же stackoverflow.

            Ищу команду, в которой смогу вырасти до настоящего разработчика!


        </p>


    </div>
{% endblock %}