{% extends 'homepage/base.html' %}
{% block title %}
    Контакты
{% endblock %}

{% block body %}
    <div class="mx-auto my-2 my-sm-3 my-lg-4 p-3">
        <h1>Контакты</h1>
        <hr/>
        <ul>
            <li>Телефон: +7 926 365 94 99</li>
            <li><a href="https://api.whatsapp.com/send?phone=79263659499">Whatsapp</a></li>
            <li><a href="mailto: free2mmm@gmail.com">free2mmm@gmail.com</a></li>
            <li><a href="https://tlgg.ru/@Dev_Aleksan">Telegram</a></li>

        </ul>
    </div>
{% endblock %}