{% extends 'homepage/base.html' %}
{% block title %}
    Разработчик Python
{% endblock %}

{% block body %}
    <div class="mx-auto my-2 my-sm-3 my-lg-4 p-3 container">
        <h1 class="head ">Python разработчик</h1>
        <p class="head-text">

        </p>
        <h3>Стек технологий с которыми я сейчас работаю:</h3>
        <ul>
            <li><b>Python</b></li>
            <li>Чаще всего использую Postgres</li>
            <li>Немного Mongo</li>
            <li>Redis</li>
            <li>Docker</li>
        </ul>

        <h4>То с чем успел познакомиться:</h4>
        <ul>
            <li> SQL
                <ul>
                    <li>CRUD</li>
                    <li>peewee</li>
                    <li>разобрался с алхимией</li>
                </ul>
            </li>

            <li>Тесты:
                <ul>
                    <li>Могу написать простые тесты в pytest и unittest</li>
                    <li>Могу найти селектор в Selenium</li>
                    <li>Начал вникать в TDD</li>
                </ul>
            </li>
            <li>ООП</li>
            <li>Framework:
                <ul>
                    <li>Django</li>
                    <li>Django REST Framework</li>
                    <li>Нашел для себя интересный асинхронный framework - Starlette</li>
                </ul>
            </li>
            <li>Изучил <a href="https://refactoring.guru/ru/design-patterns">паттерны</a></li>
            <li>Не боюсь слова рефакторинг</li>
            <li>Базовые знания HTML/CSS</li>
            <li>Git:
                <ul>
                    <li>Работаю в командной строке</li>
                    <li>GitHub, GitLab, Bitbucket, Space Jetbrains</li>
                </ul>
            </li>
            <li>Linux:
                <ul>
                    <li>Использую сервера CentOS, Ubuntu</li>
                </ul>
            </li>
            <li>Trello Slack и Telegram</li>
        </ul>
        <h4>На очереди:</h4>
        <ul>
            <li>Asyncio</li>
            <li>RabbitMQ</li>
            <li>Основы JS</li>
        </ul>
    </div>
{% endblock %}