{% extends 'homepage/base.html' %}
{% block title %}
    Python разработчик
{% endblock %}

{% block body %}
    <div class="mx-auto my-2 my-sm-3 my-lg-4 p-3">
        <h1>Python разработчик</h1>
        <hr/>
        <h2>О себе:</h2>
        <p>Я начинающий <b>Python программист.</b> </p>
        <p class="text-sm-left" style="max-width: 750px;">Достаточно хорошо разбираюсь в языке, стараюсь каждый день заниматься разработкой собственных проектов или
            изучением фреймворков или современных технологий.
            Есть небольшой опыт работе в команде, на open-source проекте. Могу братья за отдельные задачи
            самостоятельно.
            Уже достаточно много изучил технологий, что не знаю могу легко найти, а если не найду, стараюсь спросить у
            тех кто знает.</p>

        <p> Стараюсь найти интересные проекты и профессионально развиваться.</p>
        <p>Нахожусь в поиске работы или стажировки в Москве или Одинцово.</p>
        <h2 class="">Навыки и знания:</h2>
        <h3>Python:</h3>
        <ul>
            <li>Основы
            </li>
            <li>ООП
            </li>
            <li>
                SQL
                <ul>
                    <li>CRUD</li>
                    <li>SQLAlchemy</li>
                    <li>peewee</li>
                    <li>sqlite3</li>
                </ul>
            </li>

            <li>Тесты:
                <ul>
                    <li>Могу написать простые тесты в pytest</li>
                    <li>Начал вникать в TDD</li>
                </ul>
            </li>

            <li>Framework:
                <ul>
                    <li>Django</li>
                    <li>Flask</li>
                    <li>FastAPI</li>
                    <li>Starlette</li>
                </ul>
            </li>
            <li>Паттерны
        </ul>
        <h3>Дополнительные навыки:</h3>
        <ul>
            <li>Базовые знания HTML/CSS</li>
            <li>Docker</li>
        </ul>

        <h3>Git</h3>
        <ul>
            <li>работаю в командной строке</li>
            <li>GitHub, GitLab, Bitbucket, Space Jetbrains</li>
        </ul>
        <h3>Linux:</h3>
        <ul>
            <li>Дружу с серверами CentOS, Ubuntu</li>
        </ul>
    </div>

{% endblock %}