{#{% extends 'homepage/base.html' %}#}
{#{% block title %}#}
{#    Резюме#}
{#{% endblock %}#}
{##}
{#{% block body %}#}
{#    <div class="mx-auto my-2 my-sm-3 my-lg-4 p-3 container">#}
{#        <div class="">#}
{#            <h1>О себе</h1>#}
{##}
{#            <hr/>#}
{#            <span class="user-select-none">Имя: Александр</span><br>#}
{#            <span class="user-select-none">Возраст: {{ age }} лет.</span>#}
{#            <p>Работаю в IT более 20 лет.</p>#}
{#        </div>#}
{#        <p>Я начинающий <b>Python программист.</b></p>#}
{#        <p class="text-sm-left " style="max-width: 750px;">#}
{#            Разработкой заинтерисовался 3 года назад и стал активно обучатся в этом направлении#}
{#            На данный момент достаточно хорошо разбираюсь в языке,#}
{#            стараюсь каждый день заниматься разработкой собственных проектов или#}
{#            изучением фреймворков и осваиванием современных технологий.#}
{#            Есть небольшой опыт работе в команде, на open-source проекте.<br>#}
{#            Могу братья за отдельные задачи самостоятельно.<br>#}
{#            К этому моменту изучил достаточно много технологий, а то что не знаю могу найти в интернете,#}
{#            и если не смогу, знаю где спросить у более опытных коллег.</p>#}
{##}
{#        <p class="">Нахожусь в поиске работы или стажировки в Москве или Одинцово с любым форматом и графиком.</p>#}
{##}
{#        <h2 class="">Стек основных технологий:</h2>#}
{#        <ul>#}
{#            <li>Python</li>#}
{#            <li>Postgres</li>#}
{#            <li>Mongo</li>#}
{#            <li>Redis</li>#}
{#            <li>Docker</li>#}
{#        </ul>#}
{##}
{#        <h3 class="">Дополнительные навыки:</h3>#}
{#        <ul>#}
{#            <li>ООП</li>#}
{#            <li> SQL#}
{#                <ul>#}
{#                    <li>CRUD</li>#}
{#                    <li>SQLAlchemy</li>#}
{#                    <li>peewee</li>#}
{#                    <li>sqlite3</li>#}
{#                </ul>#}
{#            </li>#}
{##}
{#            <li>Тесты:#}
{#                <ul>#}
{#                    <li>Могу написать простые тесты в pytest и unittest</li>#}
{#                    <li>Начал вникать в TDD</li>#}
{#                </ul>#}
{#            </li>#}
{##}
{#            <li>Framework:#}
{#                <ul>#}
{#                    <li>Django</li>#}
{#                    <li>Flask</li>#}
{#                    <li>FastAPI</li>#}
{#                    <li>Starlette</li>#}
{#                </ul>#}
{#            </li>#}
{#            <li>Паттерны</li>#}
{#            <li>Базовые знания HTML/CSS</li>#}
{#            <li>Git:#}
{#                <ul>#}
{#                    <li>работаю в командной строке</li>#}
{#                    <li>GitHub, GitLab, Bitbucket, Space Jetbrains</li>#}
{#                </ul>#}
{#            </li>#}
{#            <li>Linux:#}
{#                <ul>#}
{#                    <li>Дружу с серверами CentOS, Ubuntu</li>#}
{#                </ul>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{#{% endblock %}#}