{% extends 'homepage/base.html' %}
{% block title %}
    Python разработчик
{% endblock %}

{% block body %}

    <div class="mx-auto my-2 my-sm-3 my-lg-4 p-3">

        <h1>Junior Python developer</h1>

        <hr/>
        <h2>Python:</h2>
        <h4>Синтаксис языка:</h4>

        <ul>
            <li>Переменные</li>
            <li>Строки</li>
            <li>Операторы</li>
            <li>Списки, словари, множества, кортежи

                <ul>
                    <li>Диапазоны</li>
                </ul>
            </li>
            <li>Условные операторы и циклы:
                <ul>
                    <li>if</li>
                    <li>for</li>
                    <li>while</li>
                </ul>
            </li>
            <li>Функции</li>
            <li>Модули и пакеты</li>
            <li>ООП

                <ul>
                    <li>Классы

                        <ul>
                            <li>Наследование</li>
                            <li>Магические методы</li>
                            <li>Перегрузка операторов</li>
                        </ul>
                    </li>
                    <li>Декораторы

                        <ul>
                            <li>@рrореrtу</li>
                        </ul>
                    </li>
                    <li>Классы итераторы</li>
                </ul>
            </li>
            <li>Исключения</li>
            <li>Работа с файлами и каталогами

                <ul>
                    <li>модуль OS</li>
                </ul>
            </li>
            <li>Регулярные выражения</li>
            <li>Тесты

                <ul>
                    <li>assertion</li>
                    <li>unittest</li>
                    <li>TDD</li>
                </ul>
            </li>
            <li>Virtualenv

                <ul>
                    <li>pip, pipenv</li>
                </ul>
            </li>
            <li>Мультипоточное и Мультипроцессорное написание программ

                <ul>
                    <li>библиотеки threading, queue, multiprocessing</li>
                </ul>
            </li>
        </ul>

        <h2>Django:</h2>

        <ul>
            <li>Создание проекта

                <ul>
                    <li>Настройка settings для разных сред</li>
                </ul>
            </li>
            <li>Модели</li>
            <li>Формы</li>
            <li>Шаблоны jinja</li>
            <li>Разворачивание проекта на сервере</li>
        </ul>

        <h2>Flask:</h2>

        <ul>
            <li>Создание простых проектор</li>
            <li>Шаблоны</li>
            <li>Методы get/post</li>
        </ul>

        <h2>Git</h2>

        <ul>
            <li>работа в командной строке</li>
            <li>GitHun, GitLab, Bitbucket, Space Jetbrains</li>
        </ul>
    </div>

{% endblock %}