{% extends 'homepage/base.html' %}
{% block title %}
    Резюме
{% endblock %}

{% block body %}
    {#    <img src="..." alt="..." class="img-thumbnail">#}
    <div class="mx-auto my-2 my-sm-3 my-lg-4 p-3">

        <body>
        <h1>Опыт работы</h1>

        <hr/>

        <h3>О себе:</h3>

        <p>Работаю в IT более 15 лет</p>

        <p>Большой опыт в решении разного рода задач</p>

        <p>Последние 4 года занимаюсь индивидуальным предпринимательством и фрилансом.</p>

        <h3>Образование:</h3>

        <p>В 2007 году закончил <em>Столичный гуманитарно-экономический институт</em>, в Москве</p>

        <p>По специальности Менеджмент организации</p>

        <h3>Задачи:</h3>

        <ul>
            <li>Помогаю подбирать, закупать, настраивать, ремонтировать различную технику</li>
            <li>Организовываю рабочие места для пользователей;

                <ul>
                    <li>Установка, настройка и поддержка операционных систем Windows, Linux, macOS;</li>
                    <li>Техническая поддержка;</li>
                    <li>Обслуживание оргтехники;</li>
                </ul>
            </li>
            <li>Настраиваю телефонию</li>
            <li>Монтаж простых систем видеонаблюдение либо поиск подрядных организаций</li>
            <li>Сборка и настройка серверов под разные нужды</li>
            <li>Комплексная антивирусная защита</li>
            <li>Настройка 1с</li>
            <li>Настройка разных банковских клиентов</li>
        </ul>


{% endblock %}