{% extends 'homepage/base.html' %}
{% block title %}
    Резюме
{% endblock %}

{% block body %}
    {#    <img src="..." alt="..." class="img-thumbnail">#}
    <div class="mx-auto my-2 my-sm-3 my-lg-4 p-3 container">
        <h1 class="head ">О себе</h1>
        <div class="">Имя: <b>Александр</b><br>
            <span class="">Возраст: {{ age }} лет.</span>
            <p>Работаю в IT более 20 лет.</p></div>
        <p class="text-sm-left " style="max-width: 750px; white-space: pre-line">
            Я начинающий <b>Python программист.</b>
            В свои 30 лет решил что хочу знать не только как устанавливать и настраивать программы, но понять, так сказать внутреннюю кухню. По этому в 2015 году решил освоить программирование, и начал с изучения C и Java, а последние 3 года активно изучаю Python.

            На данный момент, уже достаточно хорошо разбираюсь в языке, но все равно стараюсь каждый день пополнить знание чем то новым и составлять свою базу знаний, а так же, по возможности, закрепляю знания ежедневным написанием кода.

            Есть небольшой опыт командной работы на open-source проекте. Могу братья за отдельные задачи самостоятельно.

            Научился искать информацию в интернете, а если не получается, знаю как спросить у более опытных коллег, использую для этого телеграмм и slack каналы.

            Хочу найти себе хорошую команду в которой смогу вырасти до настоящего разработчика.
        </p>


    </div>
{% endblock %}