{% extends 'homepage/base.html' %}
{% block title %}
    Резюме
{% endblock %}

{% block body %}
    {#    <img src="..." alt="..." class="img-thumbnail">#}
    <div class="mx-auto my-2 my-sm-3 my-lg-4 p-3 container">
        <h1 class="head ">О себе</h1>
        <div class="">Имя: <b>Александр</b><br>
            <span class="">Возраст: {{ age }} лет.</span>
            <p>Работаю в IT более 20 лет.</p></div>
        <p>Я начинающий <b>Python программист.</b></p>

        <p class="text-sm-left " style="max-width: 750px;">
            Программированием заинтересовался 3 года назад, стал активно обучатся.
            Уже достаточно хорошо разбираюсь в языке,
            стараюсь каждый день писать код и вникать в новые технологии.
            Небольшой опыт командной работы на open-source проекте.
            Могу братья за отдельные задачи самостоятельно.
            Умею искать информацию в интернете, а если не получается, знаю как спросить у более опытных коллег.
        </p>
        <p>Подыскиваю постоянное место работы или проект.</p>
        <h2>Стек основных технологий:</h2>
        <ul>
            <li><b>Python</b></li>
            <li>Пользуюсь Postgres</li>
            <li>Немного Mongo</li>
            <li>Redis</li>
            <li>Docker</li>
        </ul>

        <h3>Дополнительные навыки:</h3>
        <ul>
            <li> SQL
                <ul>
                    <li>CRUD</li>
                    <li>peewee</li>
                    <li>разобрался с алхимией</li>
                </ul>
            </li>

            <li>Тесты:
                <ul>
                    <li>Могу написать простые тесты в pytest и unittest</li>
                    <li>Могу найти селектор в Selenium</li>
                    <li>Начал вникать в TDD</li>
                </ul>
            </li>
            <li>ООП</li>
            <li>Framework:
                <ul>
                    <li>Django</li>
                    <li>Django REST Framework</li>
                    <li>Нашел для себя интересный асинхронный framework - Starlette</li>
                </ul>
            </li>
            <li></li>
            <li>Изучил <a href="https://refactoring.guru/ru/design-patterns">паттерны</a></li>
            <li>Не боюсь слова рефакторинг</li>
            <li>Базовые знания HTML/CSS</li>
            <li>Git:
                <ul>
                    <li>Работаю в командной строке</li>
                    <li>GitHub, GitLab, Bitbucket, Space Jetbrains</li>
                </ul>
            </li>
            <li>Linux:
                <ul>
                    <li>Использую сервера CentOS, Ubuntu</li>
                </ul>
            </li>
            <li>Trello Slack и Telegram</li>
        </ul>
        <h3 class="text-monospace">На очереди:</h3>
        <ul>
            <li>Asyncio</li>
            <li>RabbitMQ</li>
            <li>Основы JS</li>
        </ul>
    </div>
{% endblock %}