{% extends 'homepage/base.html' %}
{% block title %}
    Системный администратор
{% endblock %}

{% block body %}
    <div class="mx-auto my-2 my-sm-3 my-lg-4 p-3 container">
        <h1 class="head">Системный администратор</h1>
        <p class="head-text text-sm-left" style="max-width: 650px; white-space: pre-line">
        Работаю в этой области больше 15 лет.
        Большой опыт работы с разнообразными задачами.
        За это время успел поработать в разных областях эникеем, инженером техподдержки, выездным мастером, системным администратором.  Настраивал телефонии, протягивал километры проводов, оборудовал серверные комнаты.

        Рассмотрю варианты с не полным рабочим днем или удаленный формат.
        Также на полный день с удобным территориальным расположением.
        </p>

        <div>

            <h3>Навыки и знания:</h3>
            <h5>Железо:</h5>
            <ul>
                <li>Собраю, ремонтирую:
                    <ul>
                        <li>Системные блоки, ноутбуки, техника фирмы Apple.</li>
                    </ul>
                </li>
                <li>Монтирую и настраиваю видеонаблюдения.</li>
                <li>Слаботочные работы.</li>
            </ul>
            <h5>Настольные операционные системы:</h5>

            <ul>
                <li>Windows.</li>
                <li>Linux.</li>
                <li>macOS.</li>
            </ul>

            <h5>Серверные операционные системы:</h5>

            <h6>Windows server:</h6>

            <ul>
                <li>Конфигурации ролей DNS, DHCP.</li>
                <li>AD на уровне:
                    <ul>
                        <li>Создать контроллер домена, завести/удалить пользователей.</li>
                        <li>RODC RWDC.</li>
                        <li>Обычные схемы GPO.</li>
                        <li>FSRM.</li>
                    </ul>
                </li>
            </ul>

            <h6>Linux server (Centos, Debian, Ubuntu):</h6>

            <ul>
                <li>Конфиги iptables.</li>

                <li>Настройка телефонии на Asterisk с привязкой к провайдеру.</li>
                <li>Nginx.</li>
                <li>Бэкапы:
                    <ul>
                        <li>rsync.</li>
                        <li>Veeam.</li>
                        <li>Acronis</li>
                    </ul>
                </li>
                <li>Мониторинг через Zabbix.</li>
            </ul>
            <h5>Системы виртуализации:</h5>
            <ul>
                <li>Hyper-V.</li>
                <li>ESXi.</li>
                <li>KMV.</li>
            </ul>

            <h5>Сетевое оборудование:</h5>

            <ul>
                <li>Есть опыт работы с Microtic (RouterOS).</li>
                <li>Asus, D-link, TP-link, Zuxel.</li>
            </ul>

            <h5>Дополнительные знания:</h5>

            <ul>
                <li>Знаком с Kerio.</li>
                <li>Могу настроить Cisco.</li>
                <li>Git</li>
                <li>Python.</li>
                <li>HTML CSS на уровне подправить верстку.</li>
                <li>Люблю консоль.</li>
                <li>Знаком с базами данных и запросами SQL.</li>
                <li>Умею находить общий язык с людьми.</li>
                <li>Знаю как настроить 1С</li>
            </ul>
        </div>
    </div>
{% endblock %}