{% extends 'homepage/base.html' %}
{% block title %}
    Системный администратор
{% endblock %}

{% block body %}
    <div class="mx-auto my-2 my-sm-3 my-lg-4 p-3 container">
        <h1 class="head">Системный администратор</h1>

        <p class="head-text">
            Работаю в этой области больше 15 лет<br>
            Большой опыт работы с разнообразными задачами. <br>
            За это время успел поработать эникейшиком, инженером тех.поддержки, <br>выездным мастером, системным
            администратором.
        </p>

        <h3>Навыки и знания:</h3>
        <h4>Железо:</h4>
        <ul>
            <li>Собраю, ремонтирую:
                <ul>
                    <li>Системные блоки, ноутбуки, техника фирмы Apple.</li>
                </ul>
            </li>
            <li>Монтирую и настраиваю видеонаблюдения.</li>
            <li>Слаботочные работы.</li>
        </ul>
        <h4>Настольные операционные системы:</h4>

        <ul>
            <li>Windows.</li>
            <li>Linux.</li>
            <li>macOS.</li>
        </ul>

        <h4>Серверные операционные системы:</h4>

        <h5>Windows server:</h5>

        <ul>
            <li>Конфигурации ролей DNS, DHCP.</li>
            <li>AD на уровне:
                <ul>
                    <li>Создать контроллер домена, завести/удалить пользователей.</li>
                    <li>RODC RWDC.</li>
                    <li>Обычные схемы GPO.</li>
                    <li>FSRM.</li>
                </ul>
            </li>
        </ul>

        <h5>Linux server (Centos, Debian, Ubuntu):</h5>

        <ul>
            <li>Конфиги iptables.
            </li>
            <li>Настройка телефонии на Asterisk с привязкой к провайдеру.</li>
            <li>Nginx</li>
            <li>Бэкапы:
                <ul>
                    <li>rsync.</li>
                    <li>Veeam.</li>
                </ul>
            </li>
            <li>Мониторинг через Zabbix.</li>
        </ul>
        <h4>Системы виртуализации:</h4>
        <ul>
            <li>Hyper-V.</li>
            <li>ESXi.</li>
            <li>KMV.</li>
        </ul>

        <h4>Сетевое оборудование:</h4>

        <ul>
            <li>Есть опыт работы с Microtic (RouterOS).</li>
            <li>Asus, D-link, TP-link, Zuxel.</li>
        </ul>

        <h4>Дополнительные знания:</h4>

        <ul>
            <li>Git</li>
            <li>Python.</li>
            <li>Ansible</li>
            <li>HTML CSS</li>
            <li>Люблю консоль.</li>
            <li>Знаком с базами данных и запросами SQL.</li>
            <li>Умею находить общий язык с людьми.</li>
        </ul>
    </div>
{% endblock %}