{% extends 'homepage/base.html' %}
{% block title %}
    Системный администратор
{% endblock %}

{% block body %}
    <div class="mx-auto my-2 my-sm-3 my-lg-4 p-3">
        <h1>Системный администратор</h1>
        <hr/>
        <h2><em>Навыки и знания:</em></h2>

        <h3>Железо:</h3>

        <ul>
            <li>Собрать, провести диагностику, провести модульный ремонт:
                <ul>
                    <li>Системные блоки, ноутбуки, техника фирмы Apple.</li>
                </ul>
            </li>
            <li>Монтаж и настройка видеонаблюдения.</li>
            <li>Умею собрать серверный шкаф и уложить провода.</li>
        </ul>

        <h3>Настольные операционные системы:</h3>

        <ul>
            <li>Windows XP/7/8/10.</li>
            <li>Linux.</li>
            <li>macOS.</li>
        </ul>

        <h3>Серверные операционные системы:</h3>

        <h4>Windows server:</h4>

        <ul>
            <li>Простые конфигурации ролей DNS, DHCP.</li>
            <li>AD на уровне:

                <ul>
                    <li>Создать контроллер домена, завести пользователей, настроить разрешения, удалить пользователей.
                    </li>
                    <li>Различаю RODC RWDC.</li>
                    <li>Обычные схемы GPO.</li>
                    <li>Знаю как устроен FSRM.</li>
                </ul>
            </li>
        </ul>

        <h4>Linux server (Centos, Debian, Ubuntu):</h4>

        <ul>
            <li>Настройка шлюза.

                <ul>
                    <li>iptables.</li>
                    <li>ufw.</li>
                    <li>firewallD.</li>
                </ul>
            </li>
            <li>Настройка простой схемы телефонии на Asterisk с привязкой к провайдеру.</li>
            <li>Настройка Web сервера.
                <ul>
                    <li>Nginx.</li>
                </ul>
            </li>
            <li>Файловый сервер на Samba.</li>
            <li>Бэкапы:

                <ul>
                    <li>rsync.</li>
                    <li>Veeam.</li>
                </ul>
            </li>
            <li>Мониторинг через Zabbix.</li>
            <li>Git сервер.</li>
        </ul>

        <h3>Системы виртуализации:</h3>

        <ul>
            <li>Настраивал схемы с большим количеством виртуальных машины:

                <ul>
                    <li>Hyper-V.</li>
                    <li>ESXi.</li>
                    <li>KMV.</li>
                </ul>
            </li>
        </ul>

        <h3>Сетевое оборудование:</h3>

        <ul>
            <li>Есть опыт работы с Microtic (RouterOS).</li>
            <li>Cisco.</li>
            <li>Asus, D-link, TP-link, Zuxel.</li>
        </ul>

        <h3>Дополнительные знания:</h3>

        <ul>
            <li>Умею находить информацию в интернете.</li>
            <li>Активно изучаю и использую язык Python.</li>
            <li>Работаю с системами контроля версий (git).</li>
            <li>Не вызывает проблем работа в консоли.</li>
            <li>Знаком с базами данных и запросами SQL.</li>
            <li>Знаю как устроены сайты (HTML CSS).</li>
            <li>Умею находить общий язык с людьми.</li>
            <li>Знаю Illustrator и Photoshop.</li>
            <li>Работаю с AutoCad и SketchUP.</li>
        </ul>
    </div>
{% endblock %}