@font-face {
    font-family: "DejaVu Sans";
    src: url("/static/aleksan_site_project/font/DejaVuSansMono.ttf") format('truetype');
}

.head {

    border-bottom: 1px solid #000;

}

.head-text {
    white-space: normal;
}

li {
    list-style: none;
}